**/target/
Cargo.lock
.vscode
*.dot
/toys
**/tmp
RustPetriNet.tar.gz
example/rayon
/example

.DS_Store
.cursor
mir_dump/

**/__pycache__
**/results/**

# rustc single-file and no-link intermediates
*.rcgu.o
*.rlink
*.rlib
*.dSYM/
